.backgrnd {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
  background: radial-gradient(circle, rgba(28,74,227,1) 0%, rgba(28,74,227,0.7) 55%, rgba(255,255,255,1) 100%);
  border: solid 1px black;
  width: auto;
  margin: auto;
}


.elements {
  /* visibility:hidden; */
  box-shadow: 0px 0px 0 1px #fff;
  /*background-color: rgba(148,187,233,1);*/
  font-size: 0;
}

.mouse {
	background: radial-gradient(circle, rgba(227,227,28,1) 0%, rgba(255,255,255,0.5) 86%, rgba(255,255,255,0) 100%);
}

.wall {
	background: radial-gradient(circle, rgba(28,74,227,0.5) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0.5) 100%);
}

.activeCell {
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 86%, rgba(255,255,255,0) 100%);

}

.head {
	background: radial-gradient(circle, rgba(227,28,28,1) 0%, rgba(255,255,255,0.5) 86%, rgba(255,255,255,0) 100%);
}


.elements:hover {
  background-color: rgba(148,187,233,0.5);
}

/* .hidden {
  visibility:visible;
} */

.counter {
	display: block;
	font-size: 20px;
	margin: auto;
}